.logo-title {
  line-height: 60px;
  color: #fff;
  text-decoration: none
}
.layout-header .logo .links {
  text-decoration: none;
}
.layout-header {
  background: #202123;
  height: 60px;
  margin-bottom: 10px
}
.layout-header .nav .list .links {
color: #fff;
}
.xiezuo-header {
  max-height: calc(100vh - 330px);
  overflow-y: auto;
  min-height: 300px;
}
#article-wrapper{
  margin-top: 10px;
  min-height: calc(100vh - 350px);
  border: 1px solid ;
  border-radius: var(--zhuluan-primary-border-radius);

}
.article-box{
    min-height: calc(100vh - 70px) !important;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#fixed-block {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #40414F;
  bottom: 20px;
}
#kw-target-box {
  border-radius: var(--zhuluan-primary-border-radius);
  -webkit-border-radius: var(--zhuluan-primary-border-radius);
  -moz-border-radius: var(--zhuluan-primary-border-radius);
  -ms-border-radius: var(--zhuluan-primary-border-radius);
  -o-border-radius: var(--zhuluan-primary-border-radius);
}
#popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid var(--zhuluan-border-color);
  width: 70%;
  /* height: 70%; */
  border-radius: var(--zhuluan-primary-border-radius);
  -webkit-border-radius: var(--zhuluan-primary-border-radius);
  -moz-border-radius: var(--zhuluan-primary-border-radius);
  -ms-border-radius: var(--zhuluan-primary-border-radius);
  -o-border-radius: var(--zhuluan-primary-border-radius);
}
#popup-close {
  font-size: 24px;
  color: #666;
  float: right;
  cursor: pointer;
}
.popup-header {
  height: 30px;
}
.pop-title {
  font-size: 24px;
}
.popup-content {
  margin-top: 20px;
}
.image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.image-wrapper img {
  width: 40%;
}
.popup-footer {
  margin-top: 10px;
  text-align: center;
  
}
#count-down  {
  font-size: 20px;
  color: red;
}
#sure-pay {
    margin-top: 10px;
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border: 1px solid var(--zhuluan-border-color);
    /*height: 70%;
    */border-radius: var(--zhuluan-primary-border-radius);
    background-color: #0188fb;
    color: #fff;
    -webkit-border-radius: var(--zhuluan-primary-border-radius);
    -moz-border-radius: var(--zhuluan-primary-border-radius);
    -ms-border-radius: var(--zhuluan-primary-border-radius);
    -o-border-radius: var(--zhuluan-primary-border-radius);
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    cursor: pointer;
}

li.article-title {
   background: #343541;
   padding: 15px;
   color: #fff;
   font-size:15px;
   border-radius: var(--zhuluan-primary-border-radius);
}
li.article-content {
   background: #434654;
   padding: 15px;
   color: #fff;
   font-size:15px;
}
.article .creating-loading {
  display: none;
  position: absolute;
  z-index: 10008;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(52, 53, 65, .68);
  width: 100%;
  height: 100%;
}
.layout-content{
  padding:  0 !important;
}
@media screen and (max-width: 768px) {
  #popup  {
    height: 350px;
  }
.image-wrapper img {
    width: 92px;
    height: 139px;
  }
}
pre {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#button2:{
    border-radius: 4px;
}
/*#button2:hover {*/
/*    background-color: #4CAF50;*/
/*    transition-duration: 1s;*/
/*    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
/*}*/
