<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="ChatGPT,ChatGPT中文网,OpenAi,ai智能">
  <meta name="description" content="ChatGPT是一款基于自然语言生成（NLG）和认知技术（AI）的对话引擎，可用于涵盖从智能对话到富媒体技术（文本/语音/视频）的内容的各种用例的实现。 支持的平台：Facebook，Microsoft，Google，IOS 和 Android。 开发者可以使用它构建自动化、有趣、情境感知的聊天机器人，以实现灵活的交互式对话系统。">
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/wenda.css">
  <title>ChatGPT中文网</title>
</head>
<body style="background-color:#343541">
  <div class="layout-wrap">
    <header class="layout-header">
      <div class="container" data-flex="main:justify cross:center">
        <div class="header-logo">
          <h2 class="logo"><a class="links" href="/" title="ChatGPT中文网"><span class="logo-title" title="ChatGPT-中文网">ChatGPT中文网</span></a></h2>
        </div>
        <div class="header-logo">
          <a class="links links-subtitle" href="JavaScript:clearReply();" title="清空聊天"><span class="logo-title" title="清空聊天">清空聊天</span></a>
          <a class="links links-subtitle" style="margin-left: 20px" target="_blank" href="https://github.com/elunez/openai-java" title="项目源码"><span class="logo-title" title="项目源码">项目源码</span></a>
          <a class="links links-subtitle" style="margin-left: 20px" target="_blank" href="https://foofish.net/how-to-registe-chatGPT.html" title="申请账号"><span class="logo-title" title="申请账号">申请账号</span></a>
        </div>
      </div>
    </header>
    <div class="layout-content">
      <div class="container">
        <article class="article" id="article">
          <div class="article-box">
              <div style="text-align: center;color:#9ca2a8;margin-bottom: 10px;margin-top: 10px;">
                  ChatGPT是一个超强的Ai，它会创作、写论文、答辩、编程，绘画等<br/>
                  由于接口是付费的，未填写APIKEY上下文Token的长度将限制为512，服务端不存储任何数据
              </div>
              <div class="precast-block" data-flex="main:left">
              <div class="input-group">
                <span style="text-align: center;color:#9ca2a8">&nbsp;&nbsp;连续对话：</span>
                <select id="keep" class="btn-default form-control" style="background-color: rgb(164,165,179);width:60px;" onchange="keepChange()">
                  <option value="1">开启</option>
                  <option value="2" selected>关闭</option>
                </select>
                <span style="text-align: center;color:#9ca2a8">&nbsp;&nbsp;ChatGPT版本：</span>
                <select id="id" class="btn-default form-control" style="background-color: rgb(164,165,179);width:133px">
                  <option value="1">ChatGPT(综合版)</option>
                  <option value="2">ChatGPT(图像版)</option>
                </select>
                <span style="text-align: center;color:#9ca2a8">&nbsp;&nbsp;APIKey：</span>
                <input id="apikey" placeholder="输入Key后回车显示余额" style="background-color: rgb(164,165,179);max-width:188px">
                <span id="currentBalance" style="text-align: center;color:#9ca2a8"></span>
              </div>
            </div>
            <ul id="article-wrapper">
            </ul>
            <div class="creating-loading" data-flex="main:center dir:top cross:center">
              <div class="semi-circle-spin"></div>
            </div>
            <div id="fixed-block">
              <div class="precast-block" id="kw-target-box" data-flex="main:left cross:center">
                <div id="target-box" class="box">
                  <input type="text" name="kw-target" autofocus="autofocus" placeholder="来问点什么吧，如遇显示错误，请刷新本地缓存" id="kw-target">
                </div>
                <div class="right-btn layout-bar">
                  <p class="btn ai-btn bright-btn" id="ai-btn" onclick="aiClick()" data-flex="main:center cross:center"><i class="iconfont icon-wuguan"></i>发送</p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <script src="https://cdn.staticfile.org/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/clipboard.js/2.0.11/clipboard.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/2.11.6/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/tippy.js/6.3.7/tippy-bundle.umd.js"></script>
  <script src="https://cdn.staticfile.org/wangEditor/10.0.13/wangEditor.min.js"></script>
  <script src="https://cdn.staticfile.org/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
  <script src="/static/js/toast.js"></script>
  <script src="/static/js/cron.js"></script>
  <script>
    // 百度统计
    var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="https://hm.baidu.com/hm.js?373a7a45cceb38c1b4380b392b47d9c7";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s)})();
  </script>
</body>
</html>
